/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set a basic font style */
body {
  font-family: 'Montserrat', sans-serif;  
  font-size: 16px;
  line-height: 1.6;
}

img {
    max-width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

li a {
    transition: .2s;
}

li a:hover {
    opacity: .7;
}

/* Container to center content and provide some padding */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}


/* Basic button styles */
button {
  padding: 15px 100px;
  cursor: pointer;
  background-color: #D8AD14;
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.255px;
  transition: .3s;
  border: none;
}

button:hover {
    background-color: rgba(216, 173, 20, .7);
}

/* header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: top .4s, background-color .4s;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: #fefefe;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    color: #f0f0f0;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1em;
    padding: 20px 20px 0;
    text-decoration: none;
    color: white;
}

.header .logo img {
    width: 102px;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fefefe;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
    border-radius: 100px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fefefe;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 100px;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header {
        padding: 33px 65px 15px;
    }

    .header .logo {
        padding: 0;
    }

    .header .logo img {
        width: 153px;
    }

    .header ul {
        background-color: transparent;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 0 30px 20px;
        font-size: 20px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    padding: 50px 20px;
  }
}

/* Hero Section */

.hero-section  {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.hero-section .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: max-content;
    max-width: 100%;
    transition: opacity 1s;
    padding: 25px;
  }

  h1 {
    color: #FFF;
text-align: center;
font-family: Playfair Display, serif;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: +0.9px;
  }

  .hero-section .line {
    width: 300px;
height: 2px;
background: var(--Gold, #D8AD14);

  }

.hero-section p {
    color: rgba(254, 254, 254, 1.00);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.523%; /* 39.005px */
    letter-spacing: -0.36px;
    max-width: 700px;
}

@media (max-width: 600px) {

.hero-section .content {
    gap: 30px;
}
 .hero-section h1 {
    font-size: 32px;
 }

 .hero-section p {
    font-size: 24px;
 }
}

/* Fetures Section */
.features-section {
    background-image: url("images/features-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100vh;
}

.features-section .container {
    display: flex;
    flex-direction: column;
    gap: 57px;
}


.features-section .feature {
    display: flex;
    gap: 24px;
    align-items: center;
}

.features-section h3 {
    color: #333;
font-family: Playfair Display;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
}

.features-section p {
    color: #333;
    font-family: Montserrat, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.features-section .feature-2 {
    /* margin-left: 72px; */

}

.features-section .feature .content{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.features-section .feature-1 .content{
    max-width: 400px;
}

.features-section .feature-2 .content{
    max-width: 400px;
}

.features-section .feature-3 .content{
    max-width: 315px;
}

@media (max-width: 750px) {
    .features-section {
        background-image: none;
        background: #EEC64F;
    }

    .features-section .container {
        margin-left: 60px;
    }
}

@media (max-width: 600px) {
    .features-section {
        background-image: none;
        background: #EEC64F;
    }

    .features-section .container {
        margin-left: 0px;
    }

    .features-section .feature-2 {
        margin-left: 0;
    }

    .features-section img {
        width: 70px;        
    }
}

/* Slider Section */

.slider-section {
    background-color: #333;
}

.slider-section .container {
    display: flex;
    flex-direction: column;
}

.slider-section .slide {
    width: 100%;
    height: 700px;
    padding: 100px 0;
}

.slider-section .slide-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(34, 34, 34, 0.95) 100%), url('images/morrow-2.png'), lightgray 50%;
    background-position: center;
    background-size: cover;
}

.slider-section .slide-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(34, 34, 34, 0.95) 100%), url('images/Scotland-1.jpg'), lightgray 50%;
    background-position: center;
    background-size: cover;
}

.slider-section .slide-3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(34, 34, 34, 0.95) 100%), url('images/Vernon-1.jpeg'), lightgray 50%;
    background-position: center;
    background-size: cover;
}

.slider-section .address {
    position: absolute;
    bottom: 107px;
    left: 50%;
    transform: translateX(-50%);
    color: #EFEFEF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: max-content;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
}

.slick-dots li {
    margin: 0 7px;
}

.slick-dots li button::before {
    color: #fff !important;
    font-size: 20px;
}


.slider-section .portfolio-btn {
    margin-inline: auto;
}

@media (max-width: 770px) {
    .slider-section .slide {
        height: 450px;
    }
}

@media (max-width: 600px) {

    .slider-section .address {
        bottom: 49px;
        font-size: 18px;
    }

    .slider-section .slide {
        height: 230px;
        padding: 0;
    }

    .slider-section .slick-dots li {
        height: 15px;
        width: 15px;
    }
    
    .slider-section .slick-dots button {
        height: 15px;
        width: 15px;
    }
    

    .slider-section .slick-dots button::before {
        font-size: 10px;
    }
}

/* Invest Section */

.invest-section {
    position: relative;
    overflow: hidden;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(245, 244, 244, 0.90) 0%, rgba(245, 244, 244, 0.90) 100%), url('images/invest-background.jpg'), lightgray 50% ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(0);
    z-index: -1;
  }

  .invest-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;
  }

.invest-section h2 {
    color: #333;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.invest-section p {
    color: rgba(51, 51, 51, 0.90);
text-align: center;
max-width: 686px;

/* Body P */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: -0.27px;
}

/* Team Section */

.team-section {
    background-color: #333;
}

.team-section h2 {
    color: var(--Gold, #D8AD14);
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.team-section .content {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
}


.team-section .top,
.team-section .bottom{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
}

.team-section .person {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-section h3 {
    color: #EFEFEF;
text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 200;
line-height: 50px; /* 138.889% */
letter-spacing: -0.54px;
}

.team-section .title {
    color: #EFEFEF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: -0.36px;
}

.team-section p {
    color: #EFEFEF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 191.4%; /* 34.452px */
max-width: 468px;
margin-inline: auto;
}

@media (max-width: 700px) {
    .team-section .content {
        gap: 50px;
        margin-top: 50px;
        flex-direction: column;
    }

    .team-section .top,
    .team-section .bottom{
        gap: 50px;
    }

    .team-section .person {
        gap: 0;
    }
    
    .team-section h3 {
        font-size: 28px;
    }

    .team-section .title {
        font-size: 18px;
    }

}

/* Contact Section */

.contact-section {
    background: url('images/contact-background.png');
    background-size: cover;
    background-position: top;
}

.contact-section .container {
    display: flex;
    justify-content: end;
}

.contact-section .content {
    max-width: 595px;
}

.contact-section h2 {
    color: #333;
text-align: center;
font-family: Playfair Display;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contact-section p {
margin-top: 31px;
    color: rgba(51, 51, 51, 0.80);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
max-width: 575px;
}

.contact-section form {
margin-top: 95px;
    max-width: 594px;
    display: flex;
padding: 50px;
flex-direction: column;
gap: 24px;
border: 1px solid #333;
background: #F5F4F4;
}

.contact-section .top-line {
    display: flex;
    gap: 20px;
}

.contact-section .input-container {
    width: 100%;
}


.contact-section input,
.contact-section textarea {
    border: 1px solid rgba(0, 0, 0, 0.50);
background: var(--White-Background, #F5F4F4);
font-size: 16px;
padding: 8px 11px;
width: 100%;
}

.contact-section button {
    border: 2px solid var(--Gold, #D8AD14);
    color: var(--Gold, #D8AD14);
    background: none;
}

.contact-section button:hover {
    background-color: #D8AD1422;
}

@media (max-width: 1100px) {
    .contact-section {
        background: linear-gradient(0deg, rgba(238, 198, 79, 0.30) 0%, rgba(238, 198, 79, 0.80) 100%), url('images/contact-background.png'), lightgray 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 640px) {
    .contact-section {
        background: linear-gradient(0deg, rgba(238, 198, 79, 0.87) 0%, rgba(238, 198, 79, 0.80) 100%), url('images/contact-background.png'), lightgray 50% / cover no-repeat;
    }

    .contact-section .top-line {
        flex-direction: column;
    }
}

/* Footer */

footer {
    background-color: #333;
    color: #EFEFEF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.24px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .left-side {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .kuma-link {
    display: flex;
    align-items: end;
    gap: 5px;
    line-height: 27px;
}

footer .kuma-link a {
    display: flex;
}

footer .kuma-link img {
    max-width: 120px;
    opacity: 1;
    transition: .2s;
}

footer .kuma-link img:hover {
    opacity: .6;
}

@media (max-width: 600px) {
    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    footer .left-side {
        justify-content: center;
    }
}

/* Portfolio Page */

.portfolio-main .heading,
.portfolio-section {
    background-color: #333;
}

.portfolio-main h1 {
    color: var(--Gold, #D8AD14);
text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 100px;
}

.portfolio-main .heading-paragraph {
    color: rgba(239, 239, 239, 0.80);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    max-width: 921px;
    margin-inline: auto;
    padding: 31px 25px 0;
}


.portfolio-section .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.portfolio-section .project {
    display: flex;
}

.portfolio-section .content {
    max-width: 600px;
    background-color: #EFEFEF;
    padding: 80px 80px 80px 60px;
}

.portfolio-section .project h3 {
    color: #333;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.portfolio-section .project p {
    color: #333;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 191.4%; /* 34.452px */
margin-top: 35px;
}

.portfolio-section .project ul {
    margin-top: 52px;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 191.4%; /* 34.452px */
    list-style-position: inside;
}

.portfolio-section .project li {
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 191.4%; /* 34.452px */
}

.portfolio-section .project-slider {
    margin: 0;
    width: 50%;
    background-color: #EFEFEF;
}

.portfolio-section .project-slider .slick-list {
    height: 100%;
}
.portfolio-section .project-slider .slick-track {
    height: 100%;
}

.portfolio-section .project-slider img{
    object-fit: cover;
}

@media (max-width: 700px) {
    .portfolio-section .project {
        flex-direction: column;
    }

    .portfolio-section .project-slider {
        width: 100%;
    }

    .portfolio-section .content {
        max-width: 100%;
        padding: 40px 40px 40px 30px;
    }
}